<!doctype html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="styles/foundation.css" />
  <link rel="stylesheet" type="text/css" href="styles/styles.css" />
</head>
<body ng-app="longTermApp">
  <div class="container">

    <h1>Reminders</h1>
    <div ng-controller="createNewReminder">
      <input type="text" ng-model="reminderName" placeholder="Create new reminder"></input>
      <input type="number" ng-model="interval" placeholder="Enter number of minutes between reminders"></input>
      <div class="clear"></div>
      <button ng-click="createNewReminder()">Submit</button>
    </div>
    
    <div ng-controller="currentReminders">
      <h1>Current Reminders</h1>
      <table>
        <tr>
          <td>Task</td>
          <td>Active Date</td>
          <td>Done?</td>
          <td>Cancel</td>
        </tr>
        <tr ng-repeat="reminder in currentReminders" class="currentReminder">
          <td> {{ reminder.task }} </td>
          <td> {{ reminder.duedate | date: 'medium'}} </td>
          <td> <input type="checkbox" value="done" ng-click="done(reminder.id)"> </td>
          <td> <input type="checkbox" value="cancel" ng-click="cancel(reminder.id)"> </td>
        </tr>
      <table>
      <h1>Upcoming Reminders</h1>
      <div ng-repeat="reminder in upcomingReminders">{{ reminder.task }} | {{ reminder.duedate | date: 'medium'}} </div>
    </div>  

  </div>
  <script script src="Lib/angular.min.js"></script>
  <script src="app.js"></script>
</body>
</html>
