body {
  font-family: 'Open sans', sans-serif;
}

.container {
  padding: 10px;
  margin: 10px;
  /*border-radius: 15px;*/
}

.clear {
  clear: both;
}

input[type='text'], input[type='number']{
  width: 250px;
  margin: 10px;
  display: inline;
}
select {
  width: 250px;
  margin: 10px;
}
table {
  width: 80%;
}

@-webkit-keyframes demo {
    0% {
        background-color: red;
        opacity: 0.5;
        color: #FFFFFF;
    }
    22% {
        background-color: red;
        opacity: 0.75;
        color: #FFFFFF;
    }
    77% {
        background-color: #FFFFFF;
    }
    100% {
        background-color: #FFFFFF;
    }
}
    
/*.currentReminder{
  -webkit-animation-name: demo;
    -webkit-animation-duration: 1000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
  -moz-animation-name: demo;
    -moz-animation-duration: 500ms;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: linear;
}*/